.wrapper{
    position: absolute;
    top: 150px;
    /* left:240px; */
    /* width: calc(100%-240px); */
    /* height: calc(100%-80px); */
    width: 100%;
    font-size: 12px;
    background-color:  rgb(223, 220, 232);
}
.filters{
    margin-top: 56px;
    padding: 20px;
}
.holder{
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.form-control{
    width: 70% !important;
}

.d-flex{
    justify-content: space-around !important;
}