<div class="wrapper">
    <div class="col-8">
        <form>
            <div class="container">
                <div class="row mb-2">
                    <div class="col">
                        <div class="text-center">
                            <span class="title" style="font-weight: bold; font-size: 30px;">Update Shipper Details</span>
            
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="mb-2">
                            <label for="shipperId">Shipper ID</label>
                            <input type="text" name="shipperId" formControlName="shipperId"
                                id="shipperId" placeholder="Enter Shipper ID">
                        </div>
                        <div class="mb-2">
                            <label for="email">Email</label>
                            <input type="text" name="email" formControlName="email" id="email" placeholder="Enter Email">
                        </div>
                        
                    </div>

                    <div class="col-4">
                        <div class="mb-2">
                            <label for="companyName">Company Name</label>
                            <input type="text" name="companyName" formControlName="companyName" id="companyName"  placeholder="Enter Company Name">
                        </div>
                        <div class="mb-2">
                            <label for="password">Password</label>
                            <input type="password" name="password" formControlName="password" id="password"  placeholder=" Enter Password">
                        </div>
                        
                        
                    </div>
                    <div class="col-4">
                        <div class="mb-2">
                            <label for="phone">Phone Number</label>
                            <input type="text" name="phone" formControlName="phone" id="phone"  placeholder=" Entr Last Name">
                        </div>
                        <div class="mb-2">
                            <label for="role">Role</label>
                            <input type="text" name="role" formControlName="role" id="role"  placeholder=" Enter Your Role">
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>