.container-fluid{
    height: 100vh;
}
/* .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: center;
    
  } */

  .wrapper{
    position: absolute;
    top: 150px;
    display: flex;
    justify-content: center;
}  
