
<div class="wrapper">
    <div class="col-8">
        <form>
            <div class="container">
                <div class="row mb-2">
                    <div class="col">
                        <div class="text-center">
                            <span class="title" style="font-weight: bold; font-size: 30px;">Update Employee Details</span>
            
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="mb-2">
                            <label for="titleofcourtesy">Title of Courtesy</label>
                            <input type="text" name="titleofcourtesy" formControlName="titleofcourtesy"
                                id="titleofcourtesy" placeholder="Enter your Title">
                        </div>
                        <div class="mb-2">
                            <label for="title">Title</label>
                            <input type="text" name="title" formControlName="title" id="title" placeholder="Enter your Title">
                        </div>
                        <div class="mb-2">
                            <label for="email">Email</label>
                            <input type="text" name="email" formControlName="email" id="Email" placeholder="Enter Email">
                        </div>
                        <div class="mb-2">
                            <label for="role">Role</label>
                            <input type="text" name="role" formControlName="role" id="Role"  placeholder=" Enter Your Role">
                        </div>
                        <div class="mb-2">
                            <label for="address">Address</label>
                            <input type="text" name="address" formControlName="address" id="address"  placeholder="Enter Address">
                        </div>
                        <div class="mb-2">
                            <label for="extension">Extension</label>
                            <input type="text" name="extension" formControlName="extension" id="extension"  placeholder="Enter Country Phone Externtion">
                        </div>
                        

                    </div>
                    <div class="col-4">
                        <div class="mb-2">
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstName" formControlName="firstName" id="firstName"  placeholder="Enter First Name">
                        </div>
                        <div class="mb-2">
                            <label for="password">Password</label>
                            <input type="password" name="password" formControlName="password" id="password"  placeholder=" Enter Password">
                        </div>
                        <div class="mb-2">
                            <label for="city">City</label>
                            <input type="text" name="city" formControlName="city" id="city"   placeholder=" Enter City">
                        </div>
                        <div class="mb-2">
                            <label for="country">Country</label>
                            <input type="text" name="country" formControlName="country" id="country"  placeholder="Enter Country">
                            <div class="mb-2">
                                <label for="reportsTo">Reports To</label>
                                <input type="text" name="reportsTo" formControlName="reportsTo" id="ReportsTo"  placeholder="Whome to Reports">
                            </div>
                            <div class="mb-2">
                                <label for="hireDate">Hire Date</label>
                                <input type="text" name="hireDate" formControlName="hireDate" id="Hire Date"  placeholder="Enter your HireDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-2">
                            <label for="lastName">Last Name</label>
                            <input type="text" name="Last Name" formControlName="lastName" id="Last Name"  placeholder=" Entr Last Name">
                        </div>
                        <div class="mb-2">
                            <label for="birthDate">Birth Date</label>
                            <input type="text" name="birthDate" formControlName="birthDate" id="Birth Date"  placeholder="Birth Date">
                        </div>
                        <div class="mb-2">
                            <label for="postalCode">Postal Code</label>
                            <input type="text" name="postalCode" formControlName="postalCode" id="Postal Code"  placeholder="Postal Code">
                        </div>
                        <div class="mb-2">
                            <label for="homePhone">Phone Number</label>
                            <input type="text" name="homePhone" formControlName="homePhone" id="Phone Number"  placeholder="Phone Number">
                        </div>
                        <div class="mb-2">
                            <label for="region">State</label>
                            <input type="text" name="region" formControlName="region" id="region"  placeholder="Enter State">
                        </div>
                        <div class="mb-2">
                            <label for="photoPath">Photo Path</label>
                            <input type="text" name="photoPath" formControlName="photoPath" id="PhotoPath"  placeholder="Photo Path">
                        </div>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <div class="mb-2">
                            <!-- <label for="prinfo">Reports To</label> -->
                            <!-- <input type="text" name="prinfo" id="prinfo"> -->

                            <!-- <textarea name="prinfo" id="prinfo"></textarea> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                <div class="col-12 mt-3" id="btnwrap">
                    <button type="submit" (click)="onSubmit()">Submit</button>
                </div>
            </div> -->
                <!-- <div class="text text-center sign-up-text mt-2">Already have account? <a href="login" class="gold">Login now</a> </div> -->
            </div>
        </form>
    </div>
</div>