<div class="wrapper">
  <div class="container">
    <div class="cover">
      <div class="front">
        <img src="../../../assets/img/buying-selling-online-e-commerce_18660-1043.avif" alt="">
      </div>
    </div>

    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Login</div>
          <form [formGroup]="loginForm">
            <div class="input-boxes">
              <div class="mb-2 input-box">
                <label for="role">Role</label>
                <select id="role" class="form-select" formControlName="role" name="role">
                  <option value="shipper">Shipper</option>
                  <option value="employee">Employee</option>
                  <option value="admin">Admin</option>
                </select>
                <small *ngIf="loginForm.controls['role'].dirty && loginForm.hasError('required','role')">*Role
                  is Required</small>
              </div>
              <div class="mb-2 input-box">
                <label for="email">Email</label>
                <input type="email" name="email" id="email"  formControlName="email">
                <small
                *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email
                 is required</small>
              </div>
              <div class="mb-2 input-box">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" formControlName="password">
                <small
                *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password
                is required</small>
              </div>

              <div class="text text-center"><a href="#">Forgot password?</a></div>
              <div class="button input-box">
                <button type="submit" (click)="onSubmit()">Login</button>
              </div>
              <div class="text sign-up-text">Don't have an account? Sign Up For
                <a routerLink="/shipper-register">Shiper</a> OR
                <a routerLink="/employee-register">Employee</a> OR
                <a routerLink="/admin-register">Admin</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>