<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: black;">
    <div class="container-fluid">
        <!-- style="background-color: black;" -->
        <a class="navbar-brand" href="#" style="background-color: black; color: white;" >Sales Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: black;" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active" aria-current="page" (click)="logout()" style="color: white;background-color: black ; position: relative; right:-950px;">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- The sidebar -->
<div class="sidebar">
    
    <a routerLink="/home/employees">Employee Details</a>
    <a routerLink="/home/territories">Territories</a>   
    <a routerLink="/home/shippers">Shipper Details</a>
    <!-- <a href="#about">Territories</a> -->
    <a href="#about">Ship Details</a>
</div>

<!-- Page content -->
<div class="content">
    <router-outlet></router-outlet>
</div>