<div class="wrapper">
    <div class="col-8">
        <form>
            <div class="container">
                <div class="row mb-2">
                    <div class="col">
                        <div class="text-center">
                            <span class="title" style="font-weight: bold; font-size: 30px;">Update Territory Details</span>
            
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="mb-2">
                            <label for="territoryId">Territory Id</label>
                            <input type="text" name="territoryId" formControlName="territoryId" id="Territory Id"  placeholder="Enter Territory Id">
                        </div>
                        
                    </div>

                    <div class="col-4">
                        
                        <div class="mb-2">
                            <label for="territoryDescription">Territory Description</label>
                            <input type="text" name="territoryDescription" formControlName="territoryDescription" id="Territory Description"  placeholder=" Enter Territory Description">
                        </div>
                        
                    </div>
                    <div class="col-4">
                        
                        <div class="mb-2">
                            <label for="regionId">Region Id</label>
                            <input type="text" name="regionId" formControlName="regionId" id="Region Id"  placeholder=" Enter Region Id">
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>