<div class="wrapper">
    <div class="holder">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Discount</th>
                    <!-- <th scope="col">Ship Country</th> -->
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <th scope="row">{{order.orderId}}</th>
                    <td scoped="row">{{order.productId}}</td>
                    <td scoped="row">{{order.unitPrice}}</td>
                    <td scoped="row">{{order.quantity}}</td>
                    <td scoped="row">{{order.discount}}</td>
                    <!-- <td scoped="row">{{shipdetail.shipCountry}}</td> -->
                    
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>